* {
    box-sizing: border-box;
}

body {
    background: rgb(20, 25, 45);
}

.container {
    position: relative;
    margin: 200px auto;
    width: 300px;
    height: 300px;
    perspective: 500px;
}

.cube {
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
}

.side {
    position: absolute;
    width: inherit;
    height: inherit;
    border: 5px solid #fff;
    font: normal 70px Arial;
    text-align: center;
    line-height: 300px;
    color: #fff;
    /* backface-visibility: hidden; */
}

.front {
    transform: translateZ(150px);
}

.back {
    transform: rotateY(180deg) translateZ(150px);
}

.right {
    transform: rotateY(90deg) translateZ(150px);
}

.left {
    transform: rotateY(-90deg) translateZ(150px);
}

.top {
    transform: rotateX(90deg) translateZ(150px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(150px);
}

















/* Header */
.header {
    width: 100%;
    padding-top: 15px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
	text-decoration: none;
}

/* Reviwes */
.reviews {
	margin: 25px;
	padding: 10px 110px;
	position: relative;
  }

.reviews__btn {
  font-size: 0;
  color: transparent;

  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}


.reviews__btn:after {
  content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}

.reviews__btn--prev {
  left: 0;
  transform: rotate(-45deg);
}