body {
    margin: 0%;
    overflow: hidden;
    background: rgb(20, 25, 45);
    cursor: none;
}












/* Container */ 
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}



/* Header */
.header {
    width: 100%;
    padding-top: 15px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
	text-decoration: none;
}

/* Reviwes */
.reviews {
	margin: 25px;
	padding: 10px 110px;
	position: relative;
  }

.reviews__btn {
  font-size: 0;
  color: transparent;

  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}


.reviews__btn:after {
  content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}

.reviews__btn--prev {
  left: 0;
  transform: rotate(-45deg);
}
